{% extends 'layouts/global.twig' %}

{% block content %}
    <ul class="songs collection">
        e
            <li class="collection-item">{{ song.artist }} - {{ song.title }}</li>
        {% endfor %}
    </ul>
{% endblock content %}
