{% extends 'layouts/global.twig' %}

{% block content %}
    <ul class="songs collection">
        {% for song in songs %}
            <li class="collection-item">
                {{ song.artist }} - {{ song.title }}
                <div class="chip teal lighten-3">{{ song.type }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
